@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
}

@font-face {
  font-family: "Inter";
  src: url("..//fonts/Inter/Inter-VariableFont.ttf");
}

body {
  color: black;
  background: white;
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
